{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{% block title %}DHRD BIMValidator{% endblock %}</title>      
      <meta name="description" content="">
      <meta name="keywords" content="">
      <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}"/>
      <style>
         @import url('https://fonts.googleapis.com/css?family=Lato');
         html { font-family: 'Lato', sans-serif; }
      </style>
      {% block header %}

      {% endblock %}
      
      {% block script %}

      {% endblock %}
  </head>
  <body class="bg-gray-100 tracking-wider tracking-normal">
      <!--Header-->
      <nav id="header" class="fixed w-full z-10 top-0 bg-white border-b border-gray-400">
         <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-4">
            <div class="pl-4 flex items-center">
               <svg class="h-5 pr-3 fill-current text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M0 2C0 .9.9 0 2 0h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm14 12h4V2H2v12h4c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2zM5 9l2-2 2 2 4-4 2 2-6 6-4-4z"/>
               </svg>
               <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl"  href="{% url 'projects' %}">
               DDSS - BIMValidator
               </a>
            </div>
            <div class="block lg:hidden pr-4">
               <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-red-500 appearance-none focus:outline-none">
                  <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                     <title>Menu</title>
                     <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                  </svg>
               </button>
            </div>
            <div class="w-full flex-grow lg:flex  lg:content-center lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 z-20" id="nav-content">
               <div class="flex-1 w-full mx-auto max-w-sm content-center py-4 lg:py-0">
                  <div class="relative pull-right pl-4 pr-4 md:pr-0">
                  </div>
               </div>
               {% if user.is_authenticated %}
                  <ul class="list-reset lg:flex justify-end items-center">
                     <li class="mr-3 py-2 lg:py-0">
                        <a class="inline-block py-2 px-4 text-gray-900 font-bold no-underline" href="#">{{user.username}}</a>
                     </li>
                     <!--<li class="mr-3 py-2 lg:py-0">
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-2 px-4" href="{% url 'settings' %}">Settings</a>
                     </li>-->
                     <li class="mr-3 py-2 lg:py-0">
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-2 px-4" href="{% url 'logout' %}">Logout</a>
                     </li>
                  </ul>
               {% else %}
                  <ul class="list-reset lg:flex justify-end items-center">
                     <!--<li class="mr-3 py-2 lg:py-0">
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-2 px-4" href="{% url 'settings' %}">Settings</a>
                     </li>-->
                     <li class="mr-3 py-2 lg:py-0">
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-2 px-4" href="{% url 'login' %}">Login</a>
                     </li>
                  </ul>
               {% endif %}
            </div>
         </div>
      </nav>
      <!--/Header-->
      <!--Container-->
      <div class="content container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-16">
      <!--Side bar--> 
        <div class="w-full lg:w-1/5 lg:px-6 text-xl text-gray-800 leading-normal">
            <p class="text-base font-bold py-2 lg:pb-6 text-gray-700">Menu</p>
            <div class="block lg:hidden sticky inset-0">
               <button id="menu-toggle" class="flex w-full justify-end px-3 py-3 bg-white lg:bg-transparent border rounded border-gray-600 hover:border-red-500 appearance-none focus:outline-none">
                  <svg class="fill-current h-3 float-right" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                     <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                  </svg>
               </button>
            </div>
            {% block menu %}

            {% endblock %}            
         </div>
        <!--/Side bar-->
        <!--Content-->
         <div class="w-full lg:w-3/4 p-8 mt-6 lg:mt-0 text-gray-900 leading-normal bg-white border border-gray-400 border-rounded">
        <!--Title-->
            <div class="font-sans">
               <span class="text-base text-red-500 font-bold">&laquo;</span> <a href="javascript:history.back()" class="text-base md:text-sm text-red-500 font-bold no-underline hover:underline">Go back</a>
               <br><br>

            </div>
            
        <!--/Title-->
        <!--External content-->
            {% block content %}

            {% endblock %}
        <!--/External content-->
          </div>
        <!--/Content-->
      </div>
      <br>
      <br>
        <!--/Container-->
        <!--Footer-->
      <footer class="footer bg-white border-t border-gray-400 shadow">
        <div class="container mx-auto flex py-8">
           <div class="w-full mx-auto flex flex-wrap">
              <div class="flex w-full">
                 <div class="px-8">
                    <h3 class="font-bold text-gray-900">About</h3>
                    <p class="py-4 text-gray-600 text-sm">
                        This software is the demonstrator output for the DHRD project in Amsterdam. The source code is <b>TU Eindhoven</b> property and is available under a permissive license at <b><a href="https://github.com/ISBE-TUe/DUTO-BIM-Projectresultaten">https://github.com/ISBE-TUe/DUTO-BIM-Projectresultaten</a></b>. Any input is welcome to the above GitHub project, or at <a href="mailto:p.pauwels@tue.nl">p.pauwelsATtue.nl</a>. Since this is a demonstrator tool, please be aware that this platform does <b>NOT</b> store any data for long period of time. Do <b>NOT</b> upload large and sensitive data or files. This project is not liable for any loss of data.
                    </p>
                 </div>
              </div>
           </div>
        </div>
      </footer>
        <!--/Footer-->
        
        <!--Mobile navigation menu -->
        <script>
         /*Toggle dropdown list*/
         /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/
         
         var navMenuDiv = document.getElementById("nav-content");
         var navMenu = document.getElementById("nav-toggle");
         
         var helpMenuDiv = document.getElementById("menu-content");
         var helpMenu = document.getElementById("menu-toggle");
         
         document.onclick = check;
         
         function check(e){
           var target = (e && e.target) || (event && event.srcElement);
         
          
           //Nav Menu
           if (!checkParent(target, navMenuDiv)) {
         	// click NOT on the menu
         	if (checkParent(target, navMenu)) {
         	  // click on the link
         	  if (navMenuDiv.classList.contains("hidden")) {
         		navMenuDiv.classList.remove("hidden");
         	  } else {navMenuDiv.classList.add("hidden");}
         	} else {
         	  // click both outside link and outside menu, hide menu
         	  navMenuDiv.classList.add("hidden");
         	}
           }
           
           //Help Menu
           if (!checkParent(target, helpMenuDiv)) {
         	// click NOT on the menu
         	if (checkParent(target, helpMenu)) {
         	  // click on the link
         	  if (helpMenuDiv.classList.contains("hidden")) {
         		helpMenuDiv.classList.remove("hidden");
         	  } else {helpMenuDiv.classList.add("hidden");}
         	} else {
         	  // click both outside link and outside menu, hide menu
         	  helpMenuDiv.classList.add("hidden");
         	}
           }
           
         }
         
         function checkParent(t, elm) {
           while(t.parentNode) {
         	if( t == elm ) {return true;}
         	t = t.parentNode;
           }
           return false;
         }
         
         
      </script>
      <!--/Mobile navigation menu -->

      

  </body>
</html>
