<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}New ILS Project{% endblock %}

{% block menu %}
<div class="w-full sticky inset-0 hidden h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 border border-gray-400 lg:border-transparent bg-white shadow lg:shadow-none lg:bg-transparent z-20" style="top:5em;" id="menu-content">
    <ul class="list-reset">
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="{% url 'projects' %}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:border-red-500 lg:hover:border-red-500">             
            <span class="pb-1 md:pb-0 text-sm text-gray-900 font-bold">Projects</span>      
          </a>
       </li>
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="{% url 'allchecks' %}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:hover:border-gray-400">
            <span class="pb-1 md:pb-0 text-sm">Checks</span>   
          </a>
       </li>
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="{% url 'allreports' %}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:hover:border-gray-400">
          <span class="pb-1 md:pb-0 text-sm">Reports</span>
          </a>
       </li>
    </ul>
  </div>
{% endblock %}

{% block content %}
<h1 class="text-3xl text-slate-900 font-extrabold dark:text-slate-200">New ILS Project</h1>
    <br />
    <p>Since this is a demonstrator tool, please be aware that this platform does <b>NOT</b> store any data for long period of time. Do <b>NOT</b> upload large and sensitive data or files.</p>
    <form enctype=multipart/form-data action="/newilsproject/" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>
{% endblock %}