{% extends 'base.html' %}

{% block title %}DHRD BIMValidator Settings{% endblock %}

{% block menu %}
<div class="w-full sticky inset-0 hidden h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 border border-gray-400 lg:border-transparent bg-white shadow lg:shadow-none lg:bg-transparent z-20" style="top:5em;" id="menu-content">
    <ul class="list-reset">
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="{% url 'projects' %}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:hover:border-gray-400">
            <span class="pb-1 md:pb-0 text-sm">Projects</span>          
          </a>
       </li>
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="{% url 'allchecks' %}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:hover:border-gray-400">
            <span class="pb-1 md:pb-0 text-sm text-gray-900 font-bold">Checks</span>
          </a>
       </li>
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="{% url 'allreports' %}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:hover:border-gray-400">
          <span class="pb-1 md:pb-0 text-sm">Reports</span>
          </a>
       </li>
    </ul>
  </div>
{% endblock %}

{% block content %}
<h1 class="text-3xl text-slate-900 font-extrabold dark:text-slate-200">DHRD BIMValidator Settings</h1>

    {% if user.is_authenticated %}
        <br />
        <blockquote class="border-l-4 border-red-500 my-8 pl-8 md:pl-12">
        SPARQL endpoint 1: <i>{{sparql_endpoint_1}}</i>
        <br>
        SPARQL endpoint 2: <i>{{sparql_endpoint_2}}</i>
        <br>
        Default namespace: <i>{{default_namespace}}</i>
        <br>
        Organization default namespace: <i>{{org_default_namespace}}</i>
        <br>
        Current organization: <i>{{current_org}}</i>
        <br><br>
        <a class="py-4 text-gray-600 text-sm"><i>Settings for the DDSS system can be changed in the settings.py instance of the DDSS system.</i></a>
        </blockquote>
    {% endif %}

{% endblock %}
