<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block menu %}
<div class="w-full sticky inset-0 hidden h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 border border-gray-400 lg:border-transparent bg-white shadow lg:shadow-none lg:bg-transparent z-20" style="top:5em;" id="menu-content">
    <ul class="list-reset">
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:border-red-500 lg:hover:border-red-500">
          <span class="pb-1 md:pb-0 text-sm text-gray-900 font-bold">Home</span>
          </a><!--{PERC url 'app:index' PERC}-->
       </li>
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:hover:border-gray-400">
          <span class="pb-1 md:pb-0 text-sm">Add data</span>
          </a><!--{PERC url 'app:dd_welcome' PERC}-->
       </li>
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:hover:border-gray-400">
          <span class="pb-1 md:pb-0 text-sm">Search data</span>
          </a><!--{PERC url 'app:search_start' PERC}-->
       </li>
    </ul>
  </div>
{% endblock %}

{% block content %}
<h1>DHRD BIMValidator</h1>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
    <p>Here are your projects:</p>
    {% if projects %}
            <ul>
                {% for project in projects %}
                <li>
                    <div class = "row">
                        <div class = "col-md-3">
                            Project ID#{{ project.id }} - <a href="{% url 'checks' projectId=project.id %}">Checks</a>
                        </div>                        
                        <div class = "col-md-3">
                            {{ project.title }}
                        </div>                        
                        <div class = "col-md-3">
                            {{ project.created }}
                        </div>                        
                        <div class = "col-md-3">
                            User ID#{{ project.user.id }}
                        </div>                    
                        <div class = "col-md-3">
                            User name: {{ project.user.name }}
                        </div>               
                        <div class = "col-md-3">
                            File name: {{ project.file.fileName }}
                        </div>            
                        <div class = "col-md-3">
                            File: <a href="../{{ project.file.fileContent }}" download>Download</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
    {% else %}
    <p>No projects available.</p>
    {% endif %}    
  <p>Create a new project:</p>
  <p><a href="{% url 'newproject' %}">Here</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}