<div id="maincontainer">

    <div id="topsection"></div>

    <!--
    <div id="contentwrapper">
        <div class="inner">
            <div id="">

            </div>
        </div>
    </div>

    <div id="leftcolumn">
        <div class="inner">
            <div id=""></div>
        </div>
    </div>
    -->
    
    <div id="contentwrapper">
        <div id="colmid">
            <div id="colright">
                <div id="col1wrap">
                    <div id="col1pad">
                        <div id="viewerContainer">
                        </div>
                    </div>
                </div>
                <div id="treeContainer" class="bimsurfer-static-tree">
                </div>
                <div id="dataContainer" class="bimsurfer-metadata">
                </div>
            </div>
        </div>
    </div>
</div>